:root {
  --window-control-width: 0px;
  --bottom-bar-top-margin: 36px; // height of titlebar
}

.DesktopUI {
  ._1-9sir4j_KQiMqdkZjQN0u {
    margin-top: 0;
    position: fixed;
    right: 0;
    top: var(--bottom-bar-top-margin);

    ._3LKQ3S_yqrebeNLF6aeiog {
      position: fixed;
      right: 80px;
      top: 1px;
    }
  }

  ._3Z3ohQ8-1NKnCZkbS6fvy {
    -webkit-app-region: none;
  }
}