/**
* Chat Tabs
* Tabs for each friend at the top of the chat window
*/

.X2iywwN7fcdh9zXpXVsrk {
  border-radius: $border-radius;
  padding-right: $padding;
}

.chatTabSetContainer .X2iywwN7fcdh9zXpXVsrk._1BNlZUYDbVr8VhCTmq7ksk {
  background: rgb(var(--friendlist));
}

.X2iywwN7fcdh9zXpXVsrk:hover:not(._1BNlZUYDbVr8VhCTmq7ksk) {
  background: rgb(var(--header)) !important;
}

/* Offline avatar filter */
.X2iywwN7fcdh9zXpXVsrk:hover .friend.offline .avatarHolder .avatar,
.X2iywwN7fcdh9zXpXVsrk._1BNlZUYDbVr8VhCTmq7ksk
  .friend.offline
  .avatarHolder
  .avatar {
  filter: none;
}

/* Tab Close Button */
._18EIcuUAoTtqjzcDzsTcdy {
  margin-left: 2px;
  margin-right: 2px;

  &:hover .SVGIcon_Button {
    background: var(--window-control-exit-bg-color-hover);
    border-radius: $border-radius-round;
  }

  .SVGIcon_Button {
    padding: 1px;
    width: unset;
  }
}

[class*='chattabs_ChatTabContent_Friend'] {
  margin-right: $spacer-sm;
}

/* Group chat tab text colour */
._1BNlZUYDbVr8VhCTmq7ksk [class*='chattabs_ChatTabContent_ChatRoomName'] {
  color: rgb(var(--text));
}

[class*='chattabs_ChatTabContent_ChatRoomName'] {
  color: rgb(var(--listtext));
}

.ChatRoomMultiFriendAvatar {
  margin: 0;
}

/* ========================================================================== */

/* Style Chat Tab context menu - more friends drop down */

.ChatTabsContextMenu .X2iywwN7fcdh9zXpXVsrk._1BNlZUYDbVr8VhCTmq7ksk {
  background: rgb(var(--header));
}

.ChatTabsContextMenu .X2iywwN7fcdh9zXpXVsrk._1BNlZUYDbVr8VhCTmq7ksk:hover {
  background: rgb(var(--friendlist));
}

.ChatTabsContextMenu [class*='friendsnooze_SnoozeContainer'] {
  display: none;
}

.ChatTabsContextMenu .ChatUnreadMessageIndicator {
  margin-left: 90% !important;
}

.ChatTabsContextMenu .X2iywwN7fcdh9zXpXVsrk {
  padding-left: $spacer-sm;
}

.ChatTabsContextMenu.CompactFriendsList .friend,
.ChatTabsContextMenu.CompactFriendsList .friendGroup .friend,
.ChatTabsContextMenu.CompactFriendsList .friendGroup .SteamPlayerGroupFooter,
.ChatTabsContextMenu.CompactFriendsList
  .friendGroup.gameGroup:not(.OtherGamesGroup)
  .friend {
  padding: 0;
}

.ChatTabsContextMenu
  ._1BNlZUYDbVr8VhCTmq7ksk
  [class*='chattabs_ChatTabContent_ChatRoomName'] {
  color: rgb(var(--listtext));
}

/* ========================================================================== */
