& {
  --context-text-color: #dcdedf;
  --context-bg-color: #171d25;
  --context-bg-color-hover: #3d4450;
  --context-separator-color: #67707b;
}

/** Context menus **/
.LQkrbbayZPY11qHm01t7F,
.x13bNBuBUPKDebZAIInQb {
  background: var(--context-bg-color);

  .contextMenuItem {
    background: var(--context-bg-color);
    color: var(--context-text-color);

    &:hover {
      background: var(--context-bg-color-hover);
    }
  }

  ._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_ {
    border-color: var(--context-separator-color);
    margin: 0 auto;
    width: 90%;
  }
}