& {
  --title-bar-control-text-color: ;
  --title-bar-control-text-color-hover: ;
  --title-bar-control-bg-color: rgb(103 112 123 / 20%);
  --title-bar-control-bg-color-hover: #3d4450;
  --title-bar-control-icon-color: #8b929a;
  --title-bar-control-icon-color-hover: #b8bcbf;
  --title-bar-control-icon-alert-color: #fff;
  --title-bar-control-bg-alert-color: #5c7e10;
  --title-bar-control-bg-alert-color-hover: #7ea64b;
}

._1-9sir4j_KQiMqdkZjQN0u {
  margin-top: 8px;
  height: 24px;

  ._3yD46y5pd3zOGR7CzKs0mC {
    background-color: var(--title-bar-control-bg-color);
  }

  ._2Szzh5sKyGgnLUR870zbDE {
    background-color: var(--title-bar-control-bg-color);

    ._34bQcTHo5QKzuujoEyU1tm {
      color: var(--title-bar-control-icon-color);
    }

    &:hover {
      background-color: var(--title-bar-control-bg-color-hover);

      ._34bQcTHo5QKzuujoEyU1tm {
        color: var(--title-bar-control-icon-color-hover);
      }
    }
  }

  ._2Szzh5sKyGgnLUR870zbDE._3L1c8C0o_xXzPy26aoLBFd {
    background-color: var(--title-bar-control-bg-alert-color);

    ._34bQcTHo5QKzuujoEyU1tm {
      color: var(--title-bar-control-icon-alert-color);
    }

    &:hover {
      background-color: var(--title-bar-control-bg-alert-color-hover);
    }
  }

  ._2Szzh5sKyGgnLUR870zbDE,
  ._2Lu3d-5qLmW4i19ysTt2jT {
    height: 24px;
  }

  ._5wILZhsLODVwGfcJ0hKmJ,
  ._3mGEzzp18imtSzGPkduedi,
  ._3yD46y5pd3zOGR7CzKs0mC {
    margin-right: 4px !important;
  }

  ._5wILZhsLODVwGfcJ0hKmJ,
  ._3qhGkQ5qLVNQQ-J2-uPoHt {
    padding: 0 8px;
  }
}