@import 'common/window-control';

._39oUCO1OuizVPwcnnv88no {
  .qP17eBPXkfezFfexZ4hC3 {
    flex-basis: 78px;
  }

  /*
    BigPicture toggle
      steam tries to make this into a window toggle, 
      so we will finish that work
*/
  ._1-9sir4j_KQiMqdkZjQN0u {
    margin-right: 1px;

    ._3LKQ3S_yqrebeNLF6aeiog {
      align-items: center;
      background-color: var(--window-control-bg-color);
      cursor: pointer;
      display: flex;
      height: $window-control-button-size;
      min-height: $window-control-button-size;
      min-width: $window-control-button-size;
      padding: $padding-sm;
      width: $window-control-button-size;

      ._34bQcTHo5QKzuujoEyU1tm {
        color: var(--window-control-icon-color) !important;
        height: 15px;
        position: unset;
        width: 15px;
      }

      &:hover {
        background-color: var(--window-control-bg-color-hover) !important;

        ._34bQcTHo5QKzuujoEyU1tm {
          color: var(--window-control-icon-color-hover) !important;
        }
      }
    }
  }
}