:root {
  /* width of your username - you will need to configure this */
  --username-length: 60px;

  /* other options  */
  --order-friends: 3;
  --order-add-game: 2;
  --order-download: 1;
  --download-summary-width: 180px;
  --bottom-bar-top-margin: 9px;
  --title-bar-control-width: 174px;
  --window-control-width: 135px;
  --control-position: calc(var(--window-control-width) + var(--title-bar-control-width) + var(--username-length));
}

/** ================================================================================== **/
.DesktopUI {

  /** Position the buttons **/
  ._1_yS5UP7el0aN4vntx3dx {
    position: fixed;
    right: var(--control-position);
    top: var(--bottom-bar-top-margin);
  }

  /** ================================================================================== **/

  /** Override some colours and sizes **/
  ._3vCzSrrXZzZjVJFZNg9SGu {
    background: none;
    box-shadow: none;
    flex: 0;
    gap: 4px;
    margin-right: 6px;
    padding: 0;
    width: fit-content;
  }

  ._1_yS5UP7el0aN4vntx3dx,
  ._3vCzSrrXZzZjVJFZNg9SGu {

    /* Apply color to match title bar */
    ._2foCkpRXhqq0UGVE50BWqj,
    ._2EQ7ghgqIdjKv9jsQC0Zq9,
    ._1TdaAqMFadi0UTqilrkelR {
      background-color: var(--title-bar-control-bg-color);

      ._1KrJ3sFAqPBN9mfpaNTU5F {
        color: var(--title-bar-control-icon-color);
      }

      ._3wJnTtcTLEp0R7eQj_mK8Y,
      ._1sCy-pm412Smb0wJx0W-4 {
        color: var(--title-bar-control-text-color);
      }

      &:hover {
        background-color: var(--title-bar-control-bg-color-hover);

        ._1KrJ3sFAqPBN9mfpaNTU5F {
          color: var(--title-bar-control-icon-color-hover);
        }

        ._3wJnTtcTLEp0R7eQj_mK8Y {
          color: var(--title-bar-control-text-color-hover);
        }
      }
    }

    ._1TdaAqMFadi0UTqilrkelR,
    ._2foCkpRXhqq0UGVE50BWqj,
    ._2EQ7ghgqIdjKv9jsQC0Zq9 {
      align-items: center;
      background-color: rgb(103 112 123 / 20%);
      border-radius: 2px;
      display: flex;
      height: 100%;
      justify-content: center;
      min-height: 24px;
      min-width: 24px;
      padding: 0 8px;
      gap: unset;


      &:hover {
        background-color: #3d4450;
        transition: background-color 0.15s ease-out;
      }
    }

    /** ================================================================================== **/

    /** Style the download progress **/
    ._2EQ7ghgqIdjKv9jsQC0Zq9 {
      flex-grow: 0;
      order: var(--order-download);
      padding: 0 6px;

      ._2VtAqT03BpBsVdmxwptn9D {
        align-items: center;
        max-width: var(--download-summary-width);
      }

      ._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F {
        box-shadow: none;
        height: 20px;
        margin: 0;
        margin-top: 2px;
        width: 20px;
      }

      ._2VtAqT03BpBsVdmxwptn9D ._2_FomluqqgQ2Hx8ON3AVep {
        margin: 0;
      }

      ._2VtAqT03BpBsVdmxwptn9D ._1sCy-pm412Smb0wJx0W-4,
      ._2VtAqT03BpBsVdmxwptn9D ._1xCcFYWIrJ7W8WRDmGvR3y .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
        padding-top: 0;
      }

      ._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x {
        display: none;
      }

      .ip-YZhijAMZcuRoXBGiye {
        padding: 0;
      }

      .ip-YZhijAMZcuRoXBGiye svg {
        transform: translateY(-2px);
      }
    }

    /** ================================================================================== **/

    /** Hide elements we don't want **/
    ._2iJsgdTIX9Tj23rWnB7Q-c

    /* need to find out what this is */
      {
      display: none;
    }

    /** ================================================================================== **/

    /** Change the order and override some styles **/
    ._2foCkpRXhqq0UGVE50BWqj {
      order: var(--order-add-game);
    }

    ._1TdaAqMFadi0UTqilrkelR {
      order: var(--order-friends);
    }

    /** ================================================================================== **/

    /** make friends & add game text a tooltip **/
    ._2foCkpRXhqq0UGVE50BWqj,
    ._1TdaAqMFadi0UTqilrkelR {
      ._3OhUxFVlQYr9W5ThxstR8k {
        background-color: #696773;
        border-radius: 2px;
        box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;
        box-sizing: border-box;
        color: #e0e1e6;
        font-size: 13px;
        opacity: 0;
        overflow: hidden;
        padding: 6px 8px;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        top: 32px;
        transition: opacity 0.25s;
        user-select: none;
        width: max-content;
      }

      &:hover ._3OhUxFVlQYr9W5ThxstR8k {
        opacity: 1;
      }
    }
  }

  ._21vPQjHoo0uwud5lfCD_x- {
    display: none;
  }
}